.container{
  position: relative;
  width: 80%;
  left: 60px;
  
  .image_data{
    display: flex;
    justify-content: center;
    align-items: center;
    .image{
      width: 100%;
    }
    
  }

  .about_text1_center{
    text-align: center;
    font-size: 10px;
  }







  .about_text_data{
    display: grid;
    justify-content: center;
    align-items: center;
    
    .about_text_image_data{
      img{
        width: 100%;
      }
    }


    .about_text_text_data{
      width: 100%;
  
      p{
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: 'Trocchi', serif;
        font-size: 18px;
        font-weight: lighter;
        color: #474747;
      }
    }
  }

  .about_text2_data{
    display: grid;
    justify-content: center;
    align-items: center;

    .about_text2_text_data{
      width: 100%;
      p{
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: 'Trocchi', serif;
        font-size: 18px;
        font-weight: lighter;
        color: #474747;
      }
    }

    .about_text2_image_data{

      img{
        width: 100%;
      }
    }
  }


}

@media(min-width:760px){
  .container{
    width: 1850px;
    margin: auto;
    left: 0px;
    
    .image_data{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  

  
  
    .about_text1_center{
      text-align: center;
      font-size: 20px;
    }
  
  
  
    .about_text_data{
      display: flex;
      
  
  
      .about_text_text_data{
        width: 40%;
    
        p{
          text-align: center;
          margin: 0;
          padding: 0;
          height: 50px;
          font-family: 'Trocchi', serif;
          font-size: 38px;
          font-weight: lighter;
          color: #474747;
        }
      }
    }
  
    .about_text2_data{
      display: flex;
      justify-content: center;
      align-items: center;
  
      .about_text2_text_data{
        width: 40%;
        p{
          text-align: center;
          margin: 0;
          padding: 0;
          height: 50px;
          font-family: 'Trocchi', serif;
          font-size: 38px;
          font-weight: lighter;
          color: #474747;
        }
      }
  
      .about_text2_image_data{
  
        img{
          width: 100%;
        }
      }
    }
  
  
  }
}