.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 100%;
  height: 100vh;


  .white_bgr{
    background-color: white;
    width: 70%;
    height: 80vh;
    border-radius: 14px;
    overflow-x: hidden;


    &::-webkit-scrollbar{
      width: 20px;
    }

    &::-webkit-scrollbar-track{
      background: transparent;
      
    }

    &::-webkit-scrollbar-thumb{
      background-color: aqua;
      border-radius: 20px;
      background-clip: content-box;
      border: 6px solid transparent;
    }



    .favorite_data{
      position: relative;
      top: 7rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 7rem;
    }

  }
}



.glassBox {
  &, & * { box-sizing: border-box; transition: 400ms; }
  width: 100%;
  height: 400px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  flex-direction: column;
  cursor: pointer ;
  &__imgBox {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__title {
    text-align: center;
    margin-top: 15px;
    color: rgb(13, 13, 13);
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato";
  }
  &__content {
    position: absolute;
    right: 15px; bottom: 15px; left: 15px;
    text-align: center;
    color: rgb(57, 51, 51);
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: .1em;
    opacity: 0;
  }
  &:hover &__imgBox {
    transform: translateY(-50px);
  }
  &:hover &__imgBox img {
    transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
  }
  &:hover &__title {
    //margin-top: 40px;
    // opacity: 0.5;
  }
}