.pagination {
  position: relative;
  top: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .list {
    display: flex;

    .li {
      list-style: none;
      margin: 0 5px;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #ccc;
      cursor: pointer;
      &.active {
        background: #3586ff;
      }
      &:hover{
        background-color: #497dcb;  
      }
    }
  }

  .btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
    color: white;
    background-color: #3586ff;
    
    &:disabled{
      opacity: .5;
    }

    .prev__icons{
      width: 65%;
      height: 65%;
      transition: .1s;
    }

    .next__icons {
      width: 65%;
      height: 65%;
      transition: .1s;
    }
    &:hover{
      background-color: #3762a3;



      .prev__icons{
        transform: translateX(-3px);
      }
      
      .next__icons{

        transform: translateX(3px);
      }
    }
  }
}


@media(min-width:425px){
  .btn{
    left: 20px;
  }
}